
<router-outlet></router-outlet>
<div [formGroup]="form">
  <select formControlName="type" (change)="changeType($event)">
    <option value="single">Single</option>
    <option value="sequence">Sequence</option>
  </select>
  <app-option  
     *ngIf="selected == 'single'"
    formControlName="options"></app-option>

    <app-sequence-option 
    *ngIf="selected == 'sequence'"
     formControlName="options"></app-sequence-option>
  <!-- <app-option  formControlName="options"></app-option> -->
  
  
</div>

<pre>
{{form.value | json}}  
</pre>